* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

[data-testid]{
  font-weight:bold;
}

.container {
  height: auto;
  width: 40%;
  margin: 50px auto 0;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.profileImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: block;
}

.details {
  margin: 0 auto 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}