* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, black 30%, orange 30%);
}

a {
  text-decoration: none;
}

.userName {
  font-size: 80px;
  margin-bottom: 20px;
  color: white;
}

.profileImg {
  height: 350px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.Details {
  color: white;
}
